[$trunk]
type=peer
context=$peer-context
host=$host
qualify=yes
canreinvite=no
username=$username
;fromuser=
secret=$password
disallow=all
allow=alaw
allow=ulaw

[$trunk]
type=user
context=$user-context
requirecalltoken=no
