; Tenant - $clstpkey
[park-$clstshortuid]
parkext_exclusive=yes
parkinghints=yes
context=park-$clstshortuid
parkingtime=30
comebacktoorigin=yes
parkext=*900
parkpos=901-903
; DTMF park/transfer on retrieve and park-timeout comeback (res_parking has no Dial args)
parkedcallreparking=both
parkedcalltransfers=both
