; Tenant - $clstpkey
[park-$clstshortuid]
parkext_exclusive=yes
parkinghints=yes
context=park-$clstshortuid
parkingtime=30
comebacktoorigin=yes
parkext=*900
parkpos=901-903
; DTMF park again on retrieve/comeback (res_parking comeback Dial has no feature args)
parkedcallreparking=both
