
[networks](!)
local_net=10.0.0.0/8
local_net=172.16.0.0/12
local_net=192.168.0.0/16
local_net=127.0.0.1/32
external_media_address=$externip
external_signaling_address=$externip

[transport-udp](networks)
type=transport
protocol=udp
bind=0.0.0.0:5060

[transport-tcp](networks)
type=transport
protocol=tcp 
bind=0.0.0.0:5060

;
;[transport-tls](networks)
;type=transport
;protocol=tls
;bind=0.0.0.0:5061
;cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
;priv_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
;method=sslv23
;

[transport-wss](networks)
type=transport
protocol=wss
bind=0.0.0.0:8089
