[$trunk]
type=endpoint
transport=transport-$transport
context=$context
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
disallow=all
allow=ulaw
allow=alaw
auth=$trunk
aors=$trunk
direct_media=no

[$trunk]
type=auth
auth_type=userpass
password=$password
username=$username
 
[$trunk]
type=aor
contact=sip:$host
qualify_frequency=30
 
