[$id]
type=endpoint
aors=$id
auth=$id
allow=!all,ulaw,alaw,opus,vp8
callerid="$desc" <$ext>
context=$clst
dtls_auto_generate_cert=yes
transport=transport-wss
set_var=CHANNEL(parkinglot)=$clstkey
webrtc=yes
  
[$id]
type=auth
auth_type=userpass
username=$id
password=$password

[$id]
type=aor
max_contacts = 1
; WSS contacts: OPTIONS qualify often fails and marks Unavail; device state still tracks registration
qualify_frequency=0
minimum_expiration = 60 
default_expiration = 120
maximum_expiration = 600
