[$ext]
type=endpoint
aors=$ext
auth=$ext
allow=!all,ulaw,alaw,opus,vp8
callerid="$desc” <$ext> 
context=$clst
dtls_auto_generate_cert=yes
transport=transport-wss
set_var=CHANNEL(parkinglot)=$clst
webrtc=yes
  
[$ext]
type=auth
auth_type=userpass
username=$ext
password=$password

[$ext]
type=aor
max_contacts = 1
qualify_frequency=30
minimum_expiration = 60 
default_expiration = 120
maximum_expiration = 600
 