{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ListInstanceBackupPrefix",
      "Effect": "Allow",
      "Action": ["s3:ListBucket"],
      "Resource": "arn:aws:s3:::__BUCKET__",
      "Condition": {
        "StringLike": {
          "s3:prefix": [
            "instances/__INSTANCE_KSUID__/*"
          ]
        }
      }
    },
    {
      "Sid": "WriteInstanceObjects",
      "Effect": "Allow",
      "Action": [
        "s3:PutObject",
        "s3:PutObjectTagging",
        "s3:GetObject",
        "s3:GetObjectTagging",
        "s3:DeleteObject"
      ],
      "Resource": [
        "arn:aws:s3:::__BUCKET__/instances/__INSTANCE_KSUID__/*"
      ]
    }
  ]
}
