[Unit]
Description=Setup PBX3
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/php /opt/pbx3/php/utilities/setip.php
RemainAfterExit=false
#ExecStop=/opt/foo/teardown-foo.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
